html body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
h1 {
    padding: 0;
    margin: 0;
    color: #282654;
    font-family: 'Source Sans Pro', sans-serif;
}
p {
    padding: 0;
    margin: 0;
    color: #282654;
    font-family: 'Source Sans Pro', sans-serif;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: white;
}
.about-main {
    position: absolute;
    top: 100px;
    left: 50%;
    font-size: 30px;
    width: 75%;
    transform: translateX(-50%);
}
.home-container{
    position: relative;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    height: 35%;
    width: 50%;
    background-color: rgb(206, 206, 206);
    border-radius: 20px;
    font-size: 30px;
    color: #282654;
}
.home-container h1 {
    padding-top: 20px;
    padding-left: 20px;
}
.home-container img {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    height: 70px;
    float: left;
}
.home-container p {
    padding-top: 20px;
    padding-left: 100px;
}
.home-container a {
    text-decoration: none;
    color: #282654;
}
.error {
    color: #282654;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    font-size: 30px;
   
}
.navbar {
    height: 80px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
}
.navbar a {
    margin-left: 5%;
    font-size: 30px;
    text-decoration: none;
    color: #282654;
}
.navbar div {
    padding: 20px;
}
.repo {
    border: solid 1px #b3b3b3b3;
    width: 250px;
    padding: 20px;
    min-height: 150px;
    border-radius: 10px;
}
#language {
    padding: 7px;
    width: fit-content;
    border-radius: 10px;
    color: white;
}
.login {
    color: white;
    text-decoration: none;
    padding: 20px;
    background-color: #282654;
    font-size: 20px;
    border-radius: 20px;
    position: relative;
    top: 25%;
}
.blog-main {
    position: absolute;
    top: 100px;
    left: 50%;
    font-size: 30px;
    width: 75%;
    transform: translateX(-50%)
}
.post-main {
    position: absolute;
    top: 100px;
    left: 50%;
    font-size: 30px;
    width: 50%;
    transform: translateX(-50%)
}
.posts-container {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.post-container {
    word-wrap: break-word;
    border: 2px solid #B2B1D3;
    background-color: #B2B1D3;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}
.post-container:hover {
    border: 2px solid #444141;
    cursor: pointer;
}
.post-container a {
    color: #282654;
    text-decoration: none;
}
.posts-container a:hover {
    text-decoration: underline;
}
.post-button {
    color: white;
    padding: 10px;
    background-color: #282654; 
    text-decoration: none;
    border-radius: 10px;
    border: 0;
    position: relative;
    top: -20px;
    left: 80%; 
    transform: translateX(-50%);
}
a:hover {
    cursor: pointer;
}
.post-button img {
    height: 20px;
}
.blog-post-inputs {
    width: 75%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#blog-title-input {
    display: block;
    border: solid 1px #b3b3b3b3;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    margin-bottom: 20px;
    color: #313131;
}
#blog-desc-textarea {
    display: block;
    border: solid 1px #b3b3b3b3;
    outline: none;
    resize: none;
    width: 50%;
    min-width: 300px;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    color: #313131;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    
}
#blog-body-textarea {
    display: block;
    color: #313131;
    border: solid 1px #b3b3b3b3;
    outline: none;
    resize: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    height: 500px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.hidden-error {
    font-size: 15px;
    color: red;
}
#e1 {
    display: none
}
#e2 {
    display: none
}
#e3 {
    display: none
}
#post-button {
    color: white;
    padding: 10px;
    background-color: #282654; 
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid transparent;
    transform: translateX(-50%);
    font-size: 20px;
}
button:hover {
    cursor: pointer;
}
.post-body {
    margin-top: 75px;
    color: #282654; 
}
.post-body a {
    color: #0366d6;
    text-decoration: none;
}
.post-body a:hover {
    text-decoration: underline;
}
.post-body code {
    border-radius: 5px;
    background-color: #e0e0e0;
}
@media screen and (max-width: 976px) {
    .home-container{
        top: 15%;
        min-height: 250px;
        width: 100%;
        border-radius: 0px;
    }
    .posts-container {
        width: 80%;
    }
    .post-main {
        width: 75%;
    }
}
@media screen and (max-width: 490px) {
    .home-container{
        font-size: 20px;
    }
    .button-extra {
        display: none;
    } 
}