<!DOCTYPE html> 
<html lang=en>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="official website of blueberry jam">
    <meta name="author" content="blueberry jam">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static '/images/favicon.png' %}" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
    {% block head %}{% endblock %}
</head>
<body>
    {% if nav == True %}
        <div class="navbar">
            <div>
                <a href="/">home</a>
                <a href="/about">about</a>
                <a href="/software">software</a>
            </div>
        </div>
    {% endif %}
    {% block body %}{% endblock %}
</body>
</html>