{% extends 'head.html' %}

{% load static %}

{% block head %}
    <title>{{name}}</title>
    <script src="{% static 'js/delete.js' %}"></script> 
{% endblock %}

{% block body %}
    <div class='main'>
        <div class='post-main'>   
            <h1>{{name}}</h1>  
            <sub style="color: #282654">{{data.1}}</sub>
            {% if add == True %}
                <a class="post-button" id="delete-button"><img src="{% static 'images/trash.png' %}" alt="delete"></a>
                <a href="#" class="post-button"><img src="{% static 'images/pencil.png' %}" alt="edit"></a>
                <form method = "post" enctype="multipart/form-data" id="form"> 
                    {% csrf_token %} 
                    <div style="display: none;">
                        {{form}}
                    </div>  
                    <button type="submit" class="post-button" id='post-button-submit' style="display: none;"></button>
                </form> 
            {% endif %}
            <div class = 'post-body'>
                {{data.0 | safe}}
            </div>
        </div>
    </div>
{% endblock %}